<h1>Listing feed_entries</h1>

<table>
  <thead>
    <tr>
      <th>Feed</th>
      <th>Title</th>
      <th>Url</th>
      <th>Published at</th>
      <th>Image url</th>
      <th>Summary</th>
      <th>Original</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feed_entries.each do |feed_entry| %>
      <tr>
        <td><%= feed_entry.feed %></td>
        <td><%= feed_entry.title %></td>
        <td><%= feed_entry.url %></td>
        <td><%= feed_entry.published_at %></td>
        <td><%= feed_entry.image_url %></td>
        <td><%= feed_entry.summary %></td>
        <td><%= feed_entry.original_id %></td>
        <td><%= link_to 'Show', feed_entry %></td>
        <td><%= link_to 'Edit', edit_feed_entry_path(feed_entry) %></td>
        <td><%= link_to 'Destroy', feed_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed entry', new_feed_entry_path %>
