<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @postbox.email %>
</p>

<p>
  <strong>Periodity:</strong>
  <%= @postbox.periodity %>
</p>

<p>
  <strong>Feeds in subscription:</strong>
  <ul>
    <% @postbox.feeds.each do |feed| %>
      <li><%= link_to feed.title, feed %></li>
    <% end %>
  </ul>
</p>

<table> 
  <caption>Leaflets</caption>
  <tbody>
    <%= render @postbox.leaflets %>
  </tbody>
</table>


<%= link_to 'Edit', edit_postbox_path(@postbox) %> |
<%= link_to 'Back', postboxes_path %>
